# Enable non-transparent abaqus cae interface
#XLIB_SKIP_ARGB_VISUALS=1
#export XLIB_SKIP_ARGB_VISUALS
alias enableAbaqusCae='XLIB_SKIP_ARGB_VISUALS=1; export XLIB_SKIP_ARGB_VISUALS'

# Start Abaqus CAE
alias startAbaqusCae='abaqus cae -mesa'

# Enable and start Abaqus CAE
alias abaCae='nohup enableAbaqusCae;startAbaqusCae >/dev/null 2>&1'

# Enable and start Abaqus CAE
alias abaCaeV='enableAbaqusCae;startAbaqusCae'

# Shortcut to open file with standard application
#alias op='gnome-open'
alias op='nohup gnome-open >/dev/null 2>&1'


# Enable Call of Abaqus Cae with gui and script
abaCaeScript() {
    enableAbaqusCae
    #do things with parameters like $1 such as
    nohup abaqus cae script="$1" >/dev/null 2>&1 &
}

# Enable Call of Abaqus Cae with gui and script verbose
abaCaeScriptV() {
    enableAbaqusCae
    #do things with parameters like $1 such as
    abaqus cae script="$1"
}

# Enable Call of Abaqus Cae without gui and script
abaCaeNogui() {
    enableAbaqusCae
    #do things with parameters like $1 such as
    nohup abaqus cae nogui="$1" >/dev/null 2>&1 &
}
