# Shortcut to open file with standard application
#alias op='gnome-open'
#alias op='nohup gnome-open >/dev/null 2>&1'
op() {
    nohup xdg-open "$1" >/dev/null 2>&1
}

##### Abaqus

# Enable non-transparent abaqus cae interface
#XLIB_SKIP_ARGB_VISUALS=1
#export XLIB_SKIP_ARGB_VISUALS
#alias enableAbaqusCae='XLIB_SKIP_ARGB_VISUALS=1; export XLIB_SKIP_ARGB_VISUALS'
enableAbaqusCae() {
    XLIB_SKIP_ARGB_VISUALS=1; export XLIB_SKIP_ARGB_VISUALS
}

# Start Abaqus CAE
#alias startAbaqusCae='abaqus cae -mesa'
startAbaqusCae() {
    abaqus cae -mesa
}

# Enable and start Abaqus CAE verbose blocking terminal
#alias abaCaeV='enableAbaqusCae;startAbaqusCae'
abaCaeV() {
    enableAbaqusCae
    startAbaqusCae
}

# Enable and start Abaqus CAE
abaCae() {
    enableAbaqusCae
    nohup abaqus cae >/dev/null 2>&1 &
}

# Enable Call of Abaqus Cae with gui and script
abaCaeScript() {
    enableAbaqusCae
    #do things with parameters like $1 such as
    nohup abaqus cae script="$1" >/dev/null 2>&1 &
}

# Enable Call of Abaqus Cae with gui and script verbose blocking terminal
abaCaeScriptV() {
    enableAbaqusCae
    #do things with parameters like $1 such as
    abaqus cae script="$1"
}

# Enable Call of Abaqus Cae without gui and script
abaCaeNogui() {
    enableAbaqusCae
    #do things with parameters like $1 such as
    nohup abaqus cae nogui="$1" >/dev/null 2>&1 &
}
